NodeRed/flows_redMosquitto.json
[{"id":"7e51979a.5d384","type":"tab","label":"Flow 1"},{"id":"a140f499.7e6c88","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"6053848a.68bc8c","type":"twitter out","z":"7e51979a.5d384","name":"Tweet","x":1339.5,"y":256,"wires":[]},{"id":"89414424.bdd9b8","type":"file","z":"7e51979a.5d384","name":"mqtt_bus.txt","filename":"/home/bigbatag1m2/mqtt_bus.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":913.5,"y":443,"wires":[]},{"id":"b2d91d11.0a7e5","type":"function","z":"7e51979a.5d384","name":"getReadData","func":"var msgBody = msg.payload;\nvar toBeTweet = false;\nif(msgBody > 350){\n    toBeTweet = true;\n}\nreturn msg ;","outputs":1,"noerr":0,"x":603.5,"y":310,"wires":[["aacb38d6.978538"]]},{"id":"bcadd6d.ceec028","type":"mqtt in","z":"7e51979a.5d384","name":"carotte","topic":"ISEN/#","qos":"2","broker":"a140f499.7e6c88","x":102.5,"y":381,"wires":[["f585d318.b85e1"]]},{"id":"f585d318.b85e1","type":"delay","z":"7e51979a.5d384","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"60","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":315.5,"y":382,"wires":[["b2d91d11.0a7e5","56adb6f2.e93a78"]]},{"id":"aacb38d6.978538","type":"switch","z":"7e51979a.5d384","name":"toBeTweet ?","property":"toBeTweet","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":843.5,"y":310,"wires":[["d3b8cad3.86adf8"],[]]},{"id":"d3b8cad3.86adf8","type":"function","z":"7e51979a.5d384","name":"Formattage date tweet","func":"//AAAA-MM-JJ hh:mm:ss : High circumference alert : valeur\nvar now = new Date();\nmsgBody = now.getYear() + \"-\" + now.getMonth()+1 + \"-\" +\n    now.getDate() + \" \" + now.getHours() + \":\" + \n    now.getMinutes() + \":\" + now.getSeconds() + \n    \" : High circumference alert : \" + msgBody;\nreturn msg;\n","outputs":1,"noerr":0,"x":1128.5,"y":261,"wires":[["6053848a.68bc8c","918a408a.65db08"]]},{"id":"56adb6f2.e93a78","type":"function","z":"7e51979a.5d384","name":"Formattage date fichier","func":"//AAAA-MM-JJ hh:mm:ss : High circumference alert : valeur\nmsgBody = new Date() + \" : \" + msgBody\nreturn msg;\n","outputs":1,"noerr":0,"x":609.5,"y":441,"wires":[["89414424.bdd9b8"]]},{"id":"918a408a.65db08","type":"debug","z":"7e51979a.5d384","name":"","active":true,"console":"false","complete":"payload","x":1365.5,"y":317,"wires":[]},{"id":"6907e00b.4c6148","type":"debug","z":"7e51979a.5d384","name":"","active":true,"console":"false","complete":"payload","x":631.5,"y":568,"wires":[]},{"id":"d7c8386a.af1378","type":"inject","z":"7e51979a.5d384","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"x":161.5,"y":565,"wires":[["c6e48119.800f68"]]},{"id":"c6e48119.800f68","type":"http request","z":"7e51979a.5d384","name":"Arbres","method":"GET","ret":"obj","url":"https://opendata.paris.fr/api/records/1.0/search/?dataset=les-arbres&rows=500&facet=espece","tls":"","x":392.5,"y":570,"wires":[["6907e00b.4c6148"]]}]